@{
    ViewBag.Title = "O NAS";
}
<h2>@ViewBag.Title</h2>
<h3>Bazy Danych w Aplikacjach Sieciowych</h3>

<p>Projekt na zaliczenie przedmiotu: Bazy Danych w Aplikacjach Sieciowych, wykonany w roku akademickim 2018/2019r.</p>
<p>Projekt został wykonany przez: </p>
<li>Marcin Kozikowski</li>
<li>Marek Dobrzyński</li>
<li>Krzysztof Rosiński</li>

