@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Politechnika Białostocka<br />
    Białystok 15-351 Polska<br />
    Telefon: 85 746 90 01<br/>
</address>

<address>
    <strong>Pytania:</strong>   <a href="mailto:marcinkozikowski@wp.pl">marcinkozikowski@wp.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>