@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System zgłoszeń</h1>
    <p class="lead">
        Możliwości Issue Tracking Systems sprawiają, że systemy tej klasy świetnie sprawdzają się m.in. w działach typu helpdesk / support, serwis, ale także w działach produkcyjnych czy kontroli jakości. Ich podstawowa funkcjonalność wspiera przede wszystkim:<br>
        <br>
        - przyjmowanie zgłoszeń błędów, incydentów, usterek w formie tzw. ticketów - zawierających odniesienie do produktu / usługi, której dotyczą, szczegółowego opisu i materiałów pomocniczych (pliki, zrzuty ekranu itd.),<br>
        - kategoryzowanie incydentów, nadawanie im priorytetów i terminów realizacji,<br>
        - delegowanie zgłoszeń do odpowiednich osób (odpowiedzialnych za ich analizę i ewentualną naprawę),<br>
        - wewnętrzną komunikację na temat ticketów,<br>
        - monitorowanie statusów zgłoszeń i śledzenie historii ich realizacji,<br>
        - raportowanie.<br>
    </p>

    <p class="lead">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3OwoT-6ewHd_70NdI-Y8OpSpZyHwtMr61bXfxhfPQz0Vmq1Yyzg" width="700" class="center-block"/>
    </p>
</div>