################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IssueTrackingSystem/obj/Debug
/IssueTrackingSystem/bin
